<div class="readAction">
    {{{
        renderCreateButton
            __ = __
            currentDashboardApp = currentDashboardApp
            basePath = basePath
    }}}

    {{{
        renderSearch
            __ = __
            currentDashboardApp = currentDashboardApp
            basePath = basePath
            searching = searching
    }}}

    {{{
        renderBackupLink
            __ = __
            currentDashboardApp = currentDashboardApp
            baseUrl = baseUrl
    }}}

    {{{
        renderTable
            tableSchema = tableSchema
    }}}

    {{{
        pagination
    }}}
</div>
